<div class="profile-form-container" [formGroup]="form">
    <div class="profile-form-container__control-wrapper">
        <label class="profile-form-container__control" for="name_input">Имя пользователя</label>
        <input class="profile-form-container__label" 
          formControlName="name"
          #name_input 
          type="text" 
          pInputText>
    </div>
    <div class="profile-form-container__control-wrapper">
        <label  class="profile-form-container__control" for="email_input">email</label>
        <input class="profile-form-container__label" 
        formControlName="email"
         #email_input 
         type="text" 
         pInputText>
    </div>
      <div formArrayName="phones" >
          <div   *ngFor="let currentPhone of phones.controls; let i = index" @phoneAnim 
                    [@.disabled]="currentPhone.value.phoneNumber.id !== currentAnimatedId">
              <div  [formGroupName]="i" 
                    class="profile-form-container__phone-wrapper"  
                    >
                  <app-phone-input
                     formControlName="phoneNumber" [setFocus]="false"
                     (eventDelete)="eventDeletPhone($event, i)"
                     >
                 </app-phone-input> 
                <div class="profile-form-container__radio-wrapper" >
                    <p-radioButton class="global-radio-icon" 
                      pTooltip="'Основной телефон'"
                      [(ngModel)]="isMain" 
                      [ngModelOptions]="{standalone: true}"
                      [value]="currentPhone.value.phoneNumber.id">
                    </p-radioButton>
                </div>
              </div>
           
          </div>
          <div class="profile-form-container__add-phone-button-wrapper">
            <button pButton type="button" 
                icon="pi pi-plus-circle" 
                label="Добавить номер"
                (click)="addPhone()"
                >
            </button>
          </div>
      </div>
</div>
<div>
    <!-- <p-radioButton [(ngModel)]="isMain" name="aaa" [inputId]="1" [value]="1" ></p-radioButton>
    <p-radioButton [(ngModel)]="isMain" name="aaa" [inputId]="1" [value]="2" ></p-radioButton>
    <p-radioButton [(ngModel)]="isMain" name="aaa" [inputId]="1" [value]="3" ></p-radioButton> -->
</div>

<p>тестовые телефоны</p>
<p>+380661234567</p>
<p>+79123456789</p>
<p>+77014486954</p>

