<div class="profile-form-container" [formGroup]="form">
    <div class="profile-form-container__control-wrapper">
        <label class="profile-form-container__control" for="name_input">Имя пользователя</label>
        <input class="profile-form-container__label" 
          formControlName="name"
          placeholder="введите имя"
          #name_input 
          type="text" 
          pInputText>
    </div>
    <div class="profile-form-container__control-wrapper">
        <label  class="profile-form-container__control" for="email_input">email</label>
        <input class="profile-form-container__label" 
        formControlName="email"
         #email_input 
         placeholder="введите email"
         type="text" 
         pInputText>
    </div>
      <div formArrayName="phones" >
          <div   *ngFor="let currentPhone of phones.controls; let i = index" @phoneAnim
                    [@.disabled]="currentPhone.value.phoneNumber.id !== currentAnimatedId">
              <div  [formGroupName]="i" 
                    class="profile-form-container__phone-wrapper"  
                    >
                  <app-phone-input
                     formControlName="phoneNumber" [setFocus]="false"
                     (eventDelete)="eventDeletPhone($event, i)"
                     (eventValidationStatus)="eventValidationStatus($event)"
                     >
                 </app-phone-input> 
                <div class="profile-form-container__radio-wrapper" pTooltip="Основной телефон">
                    <p-radioButton class="global-radio-icon" 
                      [(ngModel)]="isMain" 
                      [ngModelOptions]="{standalone: true}"
                      [value]="currentPhone.value.phoneNumber.id"
                      (onClick)="selectIsMain()"
                      >
                    </p-radioButton>
                </div>
              </div>
           
          </div>
          <div class="profile-form-container__add-phone-button-wrapper">
            <button pButton type="button" 
                icon="pi pi-plus-circle" 
                label="Добавить номер"
                (click)="addPhone()"
                >
            </button>
          </div>
      </div>
    <button class="profile-form-container__btn-save" pButton type="button" label="Сохранить" (click)="save()">
    </button>
</div>

<div>
</div>
<div class="tests-phones">

    <ul title="тестовые телефоны для копипаста">
        <li>ua <div>+380661234567</div></li>
        <li>ru <div>+380661234567</div></li>
        <li>kz <div>+380661234567</div></li>
        <li>ge <div>+995-(592)-04-00-24</div></li>
        <li>be <div>+375-(29)-538-10-80</div></li>
        <li>md <div>+373-76-007007</div></li>
        <li>az <div>+994 50 854 89 00</div></li>
    </ul>
</div>

