<div class="phone-input-wrapper" [formGroup]="form">
    <div class="controls">
        <div class="phone-input-wrapper__info"></div>
        <div class="form-control-input-wrapper">
            <app-flags [countryInput]="selectedCountryCode" (eventSelect)="eventSelectCountry($event)"></app-flags>
        </div>
        <div class="country-code-block">
             ({{selectedCountryCallingCode ? selectedCountryCallingCode : '???'}})
        </div>
        <div class="form-control-input-wrapper">
            <input formControlName="pnumber" class="form-control" pInputText [ngClass]="{'ng-invalid ng-dirty': isShowErrorNamberValidation()}" />
            <div class="copy-icon-wrapper">
                <i  class="clear-icon pi pi-times" 
                     *ngIf="pnumber.value?.length"
                    (click)="clearNumber()">
                </i>
                <i  class="pi pi-copy copy-icon" 
                    *ngIf="isNumberValid && pnumber.value?.length"
                    (click)="copyNumber($event)">
                </i>
            </div>
            <div class="validation-error" *ngIf="isShowErrorNamberValidation()">
                {{getErorMessage()}}
            </div>
        </div>
    </div>
    <div class="debug-info">
        <p>current strategy = {{phoneDealStrategy?.getStrategy()}}</p>
        <p>+380665566789</p>
        <p>+79123456789</p>
    </div>

</div>