
.phone-input-wrapper{
    position: absolute;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    position: absolute;
}
.copy-icon{
    margin-left: 5px;
}
.copy-icon-wrapper{
    position: relative;
    display: inline-block;
    left: -40px;
    :hover{
        cursor: pointer;
    }
}
.clear-icon-wrapper{
    position: relative;
    left: -50px;
    :hover{
        cursor: pointer;
    }
}
.controls {
    display: flex;
}
.form-control{
    height: 38px;
    width: 300px;
}

.validation-error{
    position: relative;
    top: 5%;
    color: red;
    font-size: 12px;
}
.debug-info{
    margin-top: 200px;
}
.country-code-block{
    width: 50px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid #ced4da;
}