<p-toast position="bottom-right"></p-toast>

<div class="phone-input-wrapper" [formGroup]="form">
    <div class="phone-input-wrapper__controls">
        <input formControlName="id" hidden>
        <div class="phone-input-wrapper__info">
            <app-flags 
                [isDisabled]="isDisabled"
                [countryInput]="selectedCountryCode" 
                (eventSelect)="eventSelectCountry($event)">
            </app-flags>
        </div>
        <div class="phone-input-wrapper__country-code-block">
             ({{selectedCountryCallingCode ? selectedCountryCallingCode : '...'}})
        </div>
            <input class="phone-input-wrapper__form-control" 
               #phone_input
               maxlength="16"
               formControlName="pnumber" 
               pInputText 
               placeholder="{{buildPlaceHolderPhoneInput()}}"
               [ngClass]="{'ng-invalid ng-dirty': isShowErrorNamberValidation()}" 
            />
                <div class="phone-input-wrapper__icon-wrapper">
                    <i  class="pi pi-times phone-input-wrapper__clear-icon" 
                        *ngIf="pnumber.value?.length && pnumber.enabled"
                        (click)="clearNumber()">
                    </i>
                </div>
               
                <div class="phone-input-wrapper__icon-wrapper">
                  <i  class="pi pi-copy phone-input-wrapper__copy-icon" 
                    *ngIf="isNumberValid && pnumber.value?.length"
                    (click)="copyNumber($event)">
                 </i>
                </div>
               
                <div class="phone-input-wrapper__icon-wrapper">
                  <i class="pi pi-trash phone-input-wrapper__trash-icon" (click)="remove()">
                  </i>
                </div>
               
            <div class="phone-input-wrapper__validation-error" *ngIf="isShowErrorNamberValidation()">
                {{getErorMessage()}}
            </div>
    </div>
    <div class="phone-input-wrapper__debug-info">
        <p>current strategy = {{phoneDealStrategy?.getStrategy()}}</p>
    </div>

</div>