<p-toast position="bottom-right"></p-toast>

<div class="phone-input-wrapper" [formGroup]="form">
    <div class="phone-input-wrapper__controls">
        <div class="phone-input-wrapper__info"></div>
            <app-flags [countryInput]="selectedCountryCode" (eventSelect)="eventSelectCountry($event)"></app-flags>
        <div class="phone-input-wrapper__country-code-block">
             ({{selectedCountryCallingCode ? selectedCountryCallingCode : '...'}})
        </div>
            <input class="phone-input-wrapper__form-control" 
               #phone_input
               maxlength="16"
               formControlName="pnumber" 
               pInputText 
               placeholder="{{buildPlaceHolderPhoneInput()}}"
               [ngClass]="{'ng-invalid ng-dirty': isShowErrorNamberValidation()}" 
            />
                <i  class="pi pi-times phone-input-wrapper__clear-icon" 
                     *ngIf="pnumber.value?.length"
                    (click)="clearNumber()">
                </i>
                <i  class="pi pi-copy phone-input-wrapper__copy-icon" 
                    *ngIf="isNumberValid && pnumber.value?.length"
                    (click)="copyNumber($event)">
                </i>
            <div class="phone-input-wrapper__validation-error" *ngIf="isShowErrorNamberValidation()">
                {{getErorMessage()}}
            </div>
    </div>
    <div class="phone-input-wrapper__debug-info">
        <p>current strategy = {{phoneDealStrategy?.getStrategy()}}</p>
        <p>+380661234567</p>
        <p>+79123456789</p>
        <p>string status: {{stringIncrease ? 'строка увеличивается' : 'строка уменьшается'}}</p>
    </div>

</div>