
.phone-input-wrapper{
    align-items: center;
    padding: 5px;
    position: absolute;
}
.copy-icon{
    margin-left: 5px;
}
.copy-icon-wrapper{
    position: relative;
    left: 255px;
    top: -28px;
    :hover{
        cursor: pointer;
    }
}
.clear-icon-wrapper{
    position: relative;
    left: 280px;
    top: -28px;
    :hover{
        cursor: pointer;
    }
}
.controls {
    display: flex;
}
.form-control{
    height: 38px;
    width: 300px;
}
.validation-error{
    position: relative;
    top:-25%;
    left: 0;
    color: red;
    font-size: 12px;
}
.country-name-error-text{
    font-weight: bold;
}