.phone-input-wrapper {
    position: relative;
    align-items: center;
    padding: 5px;
    &__controls {
        display: flex;
    }
    &__icon-wrapper {
        :hover {
            cursor: pointer;
            color: rgb(45, 106, 238);
            transform: scale(1.1);
        }
    }
    &__copy-icon {
        position: absolute;
        left: 410px;
        top: 15px;
    }
    &__clear-icon {
        margin-left: 5px;
        position: absolute;
        left: 385px;
        top: 15px;
    }
      &__trash-icon {
         position: absolute;
         top:4%;
         left: 450px;
    }
    &__validation-error {
        position: absolute;
        top: 12%;
        color: red;
        font-size: 12px;
    }
    &__country-code-block {
        width: 50px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        border: 1px solid #ced4da;
        background-color: #c3c9ce;
    }
    &__form-control {
        height: 38px;
        width: 300px;
    }
    &__debug-info {
        margin-top: 200px;
    }
}
