
<div [formGroup]="form" class="countries-container">
    <p-dropdown 
        #drop_down
        class="global-country-dropdown"
        [style]='{"width": "100%"}'
        [filter]="true"  
        [options]="optionsCountries" 
        formControlName="alpha2Code" 
        [filterPlaceholder]="'введите имя страны'"
        [emptyFilterMessage]="'ничего не найдено ...'"
        [filterValue]="getFilterInputValue()"
        (onHide)="hideCombo()"
        (onShow)="showCombo(drop_down)"
       >

        <ng-template pTemplate="selectedItem">
            
            <app-template-selected-country 
               [country]="selectedCountry">
            </app-template-selected-country>
  
        </ng-template>
        <ng-template let-country pTemplate="item">
            
            <app-template-country 
                [country]="country">
            </app-template-country>
          
        </ng-template>

    </p-dropdown>
        <div class="countries-container__icon-wrapper">
             <i *ngIf="isComboOpen && isFindInputHasText(drop_down)" 
               class="pi pi-times countries-container__reset-button" (click)="resetFilter($event, drop_down)">
            </i>
        </div>
       

</div>
