.selected-item-container {
    width: 310px;
    height: 20px;
    display: flex;
    align-items: center;
    :hover {
        transform: scale(1.1);
    }

    &__icon {
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        width: 30px;
        height: 20px;
        margin-right: 5px;
        box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.5);
    }
    &__tooltip-wrapper {
        display: inline-block;
        position: relative;
        .p-tooltip .p-tooltip-text {
            position: absolute;
            width: max-content;
            width: 900px;
            height: 500px;
        }
    }
}
