/* You can add global styles to this file, and also import other style files */
.global-country-dropdown {
    .p-dropdown-empty-message {
        width: 347px;
    }
}
.global-radio-icon .p-radiobutton {
    width: 30px;
    height: 30px;
    .p-radiobutton-box {
        background: url("./assets/img/star_un.svg") center no-repeat;
        width: 30px !important;
        height: 30px;
        background-size: cover;
        border: none;
        &.p-highlight {
            border-color: none;
            background: url("./assets/img/star_sel.svg") center no-repeat;
            background-size: cover;
            &:not(.p-disabled):hover {
                border-color: none;
                background: url("./assets/img/star_sel.svg") center no-repeat;
                background-size: cover;
            }
            &:not(.p-disabled).p-focus {
                border: none;
                box-shadow: none;
            }
            .p-radiobutton-icon {
                background: none;
            }
        }
        .p-radiobutton-focused .p-radiobutton-focused {
            border: none;
        }
    }
}
